.square {
  background-color: blue;
  box-shadow: inset 0 0 10px #0f0;
  width: 25px;
  height: 25px;
  position:absolute;
}

.border {
  border: 4px solid red;
  position: absolute;
}

div,body {padding:0;margin:0}

.score-display {
  position: absolute;
  right:10px;
  top:5px;
  opacity: 0.4;
  font: 2em "Open Sans", sans-serif;
}
